body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.title {
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.game-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.game-card:hover {
    transform: scale(1.05);
    background: #e0f7fa;
}